html, body, h1, h2, h3, h4, h5, h6, p, div, input, textarea, nav, article, ol, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    /* border: 1px solid black; */
    border-radius: 10px;
    
}

#commentBox{
    /* border-radius: 1px; */
    border: 5px solid black;
    background-color:chartreuse;
    height: 700px;
    width: 1000px;
    margin: 0 auto 100px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    border-radius: 25px;
    
}
p{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
}
h1{
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}
#title{
    background-color: limegreen;
    border: 5px solid black;
    border-radius: 20px;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    padding:10px;
    padding-bottom: 45px;
    margin-bottom: -40px;
}
#commentSection{
    display: flex;
    flex-flow: column;
    align-items: left;
    
    border: 5px solid black;
    background-color: green;
    border-radius: 15px;
    height: 600px;
    overflow-y: auto;
    padding:10px;
}
.comment{
    background-color: aqua;
    margin: 0 0 10px 0;
    padding: 5px;
    max-width: 970px;
    border-radius: 5px;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 1px black;
}
.comment:last-child{
    margin: 0;
}
.commentProfileText{
    display: flex;
    line-height: 20px;
    
    /* text-align: center; */
}
.userPicture{
    /* margin-right: 5px; */
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100px;
}
h2{
    font-size: xx-large;
    align-self: top;
    margin-left: 10px;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 30px;
    margin-right: 10px;

}
.commentMessage{
    align-self: center;
    /* width: 700px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.commentButtons{
    display:flex;
    align-items: top;
}

.editButton, .deleteButton, .saveButton{
    height: 40px;
    width: 40px;
    background-color:deepskyblue;
    border-radius: 10px;
    border-width: 0px;
    align-self: center;
    margin: 0 0 0 5px;
}
.editButton:hover, .deleteButton:hover, .saveButton:hover{
    background-color:dodgerblue;
}
.editButton:active, .deleteButton:active, .saveButton:active{
    background-color:royalblue;
    border: 2px solid blue;
}
.clickIcon{
    width: 20px;
    height: 20px;
}
button{ 
    cursor: pointer;
}

.deleteButton{
}
.editButton{
}
#addComment{
    border: black 3px solid;

    border-radius: 15px;
    height: 75px;
    margin-top: 10px;
    background-color: aquamarine;
    display: flex;
}
input, textarea{
    border-radius: 12px;
    
}
/* #color{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 75px;
    width: 10px;
} */

#username{
    height: 75px;
    width: 150px;
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* border-right: 0; */
    border: 0;
    padding: 0 10px;
    background-color:aquamarine;
}
#username::placeholder{
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
}
#message{
    padding: 0 5px;
    min-height: 75px;
    max-height: 75px;
    min-width: 770px;
    max-width: 770px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    resize: none;
    border-left: 0;
    border-radius: 0;
    border: 0;
    background-color:aquamarine;
}

#submitButton{
    background-color:royalblue;
    border: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border: 1px solid gray; */
    /* min-width: 10px; */
    /* height: 40px; */
    width: 50px;

}

.editCommentMessage{
    width: auto;
    resize: none;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5px;
    font-size: 15px;
    align-self: center;
    min-height: 38px;
    border-radius: 5px;
    border: 0;
    background-color:darkturquoise;
}
